<mat-toolbar color="primary">
  <span class="title">Autobahn App</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Cars</mat-card-title>
    <mat-card-subtitle>List of available cars</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="make">
        <mat-header-cell *matHeaderCellDef>Make</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.make }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.model }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.year }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
