<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

  
<body>
<html>
        <title>Autobahn App</title>
        <base href="/" />
        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="../src/styles.css" />
        <script src="runtime.js" defer></script>
        <script src="polyfills.js" defer></script>
        <script src="vendor.js" defer></script>
        <script src="main.js" defer></script>;

    <body>
    <span class="title">Autobahn App</span>,
    <span class="sub-title"></span>,
    <span class="description"></span>,
    <span class="version">1.0.0</span>,
    <span class="author"></span>,
    <span class="license"></span>,
    <span class="copyright"></span>,
      <div class="container">
      <div class="row"></div>;
  <body>
    <footer>
      <p>made by t.b.</p>
    </footer>
  <html>




    




        

       
  
    
     